# Virtual Environment
venv/
env/
ENV/

# Secrets & Environment variables
.env

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Temporary audio files
temp/
*.ogg
*.mp3

# SQLite database
*.db
*.sqlite3
database/*.db

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
